   <h1>#learn all about covid</h1>
<h2>General Information on Corona virus Disease 2019</h2> 
        <p>1.Corona Virus Disease (COVID19) is a new respiratory illness that can easily be spread from person to person.</p>
        <p> 2. COVID-19 is spread through contact with droplets produced by a person who is sneezing or coughing or contaminated surfaces or objects.</p>
        <h3>3. COVID-19 can cause severe symptoms like</h3> 
            <p>a.fever,</P> 
            <p>b.cough,</p> 
            <p>c. headache,</p> 
            <p>d.body aches</p>  
            <P> e.difficulty in breathing.</p>
            <h4> 4. COVID-19 is preventable through;</h4>
       <P>Washing your hands with soap and running water or using an alcohol based hand sanitizer,</p>
       <p>Keeping a social distance of at least 2 metres or 2-3 steps from people with flu-like symptoms.</p>
       <p>Avoiding shaking hands, hugging or kissing with people with flu-like symptoms.</p>
       <p>Staying at home and avoiding travel when you have flu-like symptoms.</p> 
  <p>5. Early detection and treatment can contribute greatly to survival of the patient.</p>
  <p>6. COVID 2019 cannot be transmitted through air.</p> 
